
html {
  height: 100%;
}
body {
  background-color:rgb(200, 186, 139);
  
  
}

.box_jail {
  margin-left: auto;
  margin-right: auto;
  width:768px;
}

#nav_menu ul {list-style-type: none;}
#nav_menu ul li {float:left;
font-family: Georgia, 'Times New Roman', Times, serif;}
#nav_menu ul li a {
  text-align: center;
  display:block;
  width:175px;
  padding:1em 0; /*padding above and below a elements */
  text-decoration: none;
  background-color:#65a765;
  color:white;
  font-weight:bold;
  border-right:2px solid white;
}
#nav_menu ul li a.lastitem {
  border-right:none;
}
#nav_menu ul li a.current {
  color:black;
}


a:link {
  color: white;
}
a:visited {
  color: rgb(225, 13, 225);
}
a:hover {
  color: red;
}
a:active{
  color: blue;
}

p {
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

main {
  
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 40px;
  color: white;
}

  

footer {
  background-color:  #65a765;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: right;
}
h1 {
  font-size: 50px;
  font-family:'Times New Roman', Times, serif;
  text-align: center;
  color: white;
}